<%= render :layout => "layouts/table", :locals => { :table_id => "urls_table" } do %>

      <% if @urls && !@urls.empty? %>
          <thead>
            <tr>
              <th>S/N</th>
              <th>Url</th>
              <th>Shortened url</th>
              <th>Hits</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <% count = 1; @urls.each do |url| %>
              <tr class="odd gradeX">
                  <td><%= count %></td>
                  <td><%=link_to url.url, url.url %></td>
                  <td><%=link_to "#{Rails.application.secrets.app_url}/#{url.shortened_path}", url_path(url) %></td>
                  <td class="center"><%= url.hits.count %></td>
                  <td class="center"><%= url.created_at.strftime("%a, %d %b %y") %></td>
              </tr>
            <% count += 1; end %>
          <% else %>
            <tr>
              You haven't yet registered any url
            </tr>
          <% end %>
      </tbody>
    <% end %>
